@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F2F2F2;
  font-family: 'Source Sans Pro', monospace;
  line-height: 1.8em;
  padding: 1rem;
  color: #5D6063;
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: 0px auto;
  text-align: left;
 font-size: 16px;
}



@media only screen and (max-width: 400px) {
    body {
        background-color: #F09A9D;
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E;
    }
}
@media only screen and (min-width: 961px) {
    body {
        background-color: #B2D6FF;
    }
}